.div1{
    background-color: azure;
    height: 100vh;
    width: 100vw;
    display: flex;
    
}
.left{
    background-color: red;
    width: 50%;
}
.right{
    background-color: yellow;
    width: 50%;
}
.lefttop{
    height: 50%;
    background-color: gray;
}
.leftbottom{
    height: 50%;
    background-color: blueviolet;
    
}
.righttop{
    height: 50%;
    background-color: aquamarine;

}
.rightbottom{
    height: 50%;
    background-color: brown;
}