body{
    background-color: whitesmoke;
    text-align: center;
    padding: 50px;
}

.div1 img{
    height: 317px;
    width: 367px;
    
}
.div1 h1{
    color: rgb(161, 149, 149);
}
.div1 p{
    color: grey;
    font-size: 18px;
}