.image img{
    width: 100%;
    height: 650px;
    margin-top: 0;
    position: absolute;
}
.content{
    position: relative;
}
body{
    margin: 0;
    top: 0;
    font-family: Arial;
}
.content{
    padding: 10px 20px;
    display: flex;
}
.heading{
    justify-content: center;
    align-items: center;
    color: rgb(5, 5, 5);
    margin-left: 110px;
    text-align: center;
    margin-top: 180px;
    position: relative;


}
.heading h1{
    color: black;
    font-size: 50px;
    font-family: Arial;
}
.heading a{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(228, 90, 10);
    width: 200px;
    border: 1px solid black;
    border-radius: 9px;
    text-align: center;
    background-color: black;
    
}
.logo{
    margin: 5px;
    color: black;
}
.nav{
    list-style: none;

}
.nav1{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 25px;
    margin-left: 800px;
    padding: 10px 20px;
}
.drop a{
    list-style: none;
    color: black;
    font-size: 18px;
    gap: 20px;
    text-decoration: none;
} 
  