body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #c4c4c9;
      color: #333;
    }
    header {
      background: #21b691;
      color: rgb(206, 196, 196);
      text-align: center;
      padding: 2rem 1rem;
    }
    header h1 {
      margin: 0;
      font-size: 2.5rem;
      color: #f4f4f9;
    }
    header p {
      margin: 0.5rem 0 0;
      font-size: 1.2rem;
      color: #f4f4f9;
    }
    nav {
      background: #12da97;
      padding: 0.8rem;
      text-align: center;
    }
    nav a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
      font-weight: bold;
    }
    nav a:hover {
      color: orangered;
    }
    section {
      max-width: 1000px;
      margin: 2rem auto;
      padding: 1rem;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    section h2 {
      color: #2fad9d;
      margin-bottom: 1rem;
    }
    footer {
      text-align: center;
      padding: 1.5rem;
      margin-top: 2rem;
      background: #179fa3;
      color: rgb(14, 13, 13);
    }