*{
    margin: 0;
    /* padding: 0; */
    font-family: 'poppins',sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:url(background.png) ;
    background-size: cover;
    background-position: center;
        margin: 0;


}
.contaner ul li a{
    color: white;
    text-decoration: none;
    margin-left: 51px;
     
}
.contaner ul li{
    list-style: none;
    
   
}
.contaner ul{
    display: flex;
        margin-left: 472px;

    
}

.head_contaner{
color: white;
    margin-top: 198px;
    margin-left: 105px;
}
.head_contaner span{
    color: brown;
}
    .asl_flex{
        display: flex;
    }
    .asl_flex img{
            max-width: 481px;
    margin-top: 53px;
    margin-left: 30px;
    border-radius: 143px;
    }
   
    .asl_contaner{
    margin-left: 41px;
    padding: 76px;    }

      .asl_drop ul{
        list-style: none;
        gap: 30px;
         margin-top: 30px;

      }
    
.asl_drop ul li{
    margin-top: 10px;
}
      .asl_main{
        background-color: black;
        color: white;
      }
    .asl_contaner p{
        margin-top: 10px;
    }
   

    /* Services */

        .services{
                display: flex
;
    padding: 30px;
    gap: 68px;
    margin-top: 0px;
        }
 
        .service1{
          background-color: #333131;
    padding: 63px;
    box-shadow: 1px 2px 5px;
    border-radius: 94px;   
    transition: transform(0.5s); 
    }

    .service1:hover{
        box-shadow: 2px 3px 6px;
        transform: scale(1.1);
    }
        .services_main{
              background-color: black;
    color: white;
    margin-top: -68px;
            
        }

        .services_main .wer{
               margin-left: 92px;
    margin-top: 68px;
    padding: 51px  ;      }


       

       .services_flex{
        margin-top: 10px;
       }

 

  /* what */

#portfolio{
    padding: 70px 0;
}
.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.work img{
    width: 92%;
        border-radius: 10px;
    display: block;
}

.layer{
    width: 99%;
        height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden ;
    align-items: center;
    text-align: center;
    padding: 0,40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s;

}
.layer a{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    color: #ff004f;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}

.container {
    background-color: black;
    color: white;
        margin-top: -21px;
            padding: 53px;
}


/* work */

.process_flex{
       display: grid
;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 58px;
        margin-left: -149px;
}

 .process_container{
    display: grid
;
    grid-template-columns: repeat(2, minmax(0px, 1fr)); }

 .process_class{
    padding: 37px; }

.process_class p{
             
    margin-top: 63px;
}   
    
    .process_rea{
        margin-top: 16px;
    margin-left: 82px;
    box-shadow: 1px 0px 12px;   
     border-radius: 20px;
    padding: 36px;
    background-color: #333131;
    transition: transform 0.5s;

    }
    .process_rea:hover{
        box-shadow: 2px 6px 11px;
        transform: scale(1.1);
    }



    .process{
        background-color: black;
        color: white;
    padding: 24px;    }

    .process_class h1{
        margin-top: 25px;
    }