body{
    background-image: url("download\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header{
    display: flex;
}
header h1{
    color: gold;
}
ul{
    display: flex;
    list-style: none;    
    gap: 41px;
    padding: 15px;
    margin-left: 236%

}
ul li a{
    text-decoration: none;
    text-align: right;
    color: white;
}
ul li a:hover{
    color: gold;
    text-decoration: underline;
}
.search-button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.search-button:hover{
    color: #ff9800;
}
section{
    text-align: center;
    margin-top: 250px;
}
section h1{
    color: white;

}
section a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 22px;
}
section a:hover{
    color: rgb(255, 180, 4);
    text-decoration: underline;
}